@charset "UTF-8";

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"), url("../fonts/Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #767676;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  margin: 0 auto;
  max-width: 62.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.select {
  position: relative;
}

.select__body {
  position: relative;
}

.select__title {
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 90%;
  color: rgba(255, 255, 255, 0.8);
  margin-right: -20px;
  text-align: left;
  border-bottom: 1px solid #d9d9d9;
  cursor: pointer;
  width: 100%;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.875rem;
  gap: 0.625em;
}

.select__value > * {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__value:after {
  content: "▾";
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10px;
          flex: 0 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

._select-open .select__value:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select__value._select-pseudo-label::before {
  content: attr(data-pseudo-label);
  opacity: 0.5;
}

.select__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  padding: 10px 0px 5px 0px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-family: "Gilroy";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 90%;
  color: rgba(255, 255, 255, 0.8);
  background: rgba(255, 136, 0, 0.63);
  -webkit-backdrop-filter: blur(140px);
          backdrop-filter: blur(140px);
}

.select__scroll {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px;
}

.select__option {
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 5px 15px;
  color: inherit;
}

.select__option._select-selected {
  background-color: #eee;
}

.select__row {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.select._select-open {
  z-index: 5;
}

._select-tag {
  cursor: pointer;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: inherit;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 50;
  border-top: 2px solid #bf4f4b;
  margin-bottom: -2px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.25em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  height: 100%;
}

.header__logo {
  z-index: 70;
}

.logo img {
  width: 13.75em;
  height: 3.25em;
}

.footer {
  background: #2c364a;
  margin-top: 2.5em;
  padding: 0.9375em 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 4.375em;
  gap: 0.625em;
}

.footer__list li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(20% - 0.875em - 0.5em);
          flex: 0 0 calc(20% - 0.875em - 0.5em);
}

.footer__link {
  color: #ffffff;
  font-weight: 800;
  line-height: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer__logo img {
  width: 2.625em;
  height: 2.625em;
}

.main {
  margin-top: 5.75em;
}

.form {
  font-size: 1em;
}

.form__container {
  text-align: center;
}

.form__title {
  font-size: 1.3125em;
  color: rgb(118, 118, 118);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

.form__row {
  margin-top: 1.375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6.25em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__row.active .form__label {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.form__row.active .form__label span {
  display: none;
}

.form__row.active .form__input:checked + .form__label {
  -webkit-filter: none;
          filter: none;
}

.form__row.active .form__input:checked + .form__label:hover::before {
  opacity: 1;
}

.form__row.active .form__input:checked + .form__label span {
  display: inline-block;
}

.form__label {
  cursor: pointer;
  text-align: center;
  font-size: 1.3125em;
  font-family: "Gilroy";
  font-weight: 800;
  line-height: 1.2;
}

.form__label::before {
  content: "";
  width: 5em;
  height: 5em;
  display: block;
  margin-bottom: 0.4375rem;
}

.form__label-bad {
  color: rgb(226, 106, 106);
}

.no-webp .form__label-bad::before{
  background-image: url("../img/bad.png"); }

.form__label-bad::before {
  background-size: 100%;
}

.form__label-normal {
  color: rgb(224, 179, 120);
}

.no-webp .form__label-normal::before{
  background-image: url("../img/good.png"); }

.form__label-normal::before {
  background-size: 100%;
}

.form__label-great {
  color: rgb(164, 224, 120);
}

.no-webp .form__label-great::before{
  background-image: url("../img/great.png"); }

.form__label-great::before {
  background-size: 100%;
}

.form__input {
  display: none;
}

.form__mark {
  margin-top: 2.875em;
}

.form__rating {
  margin-top: 1.875em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__grad {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 1.0625em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form__grad input {
  display: none;
}

.form__grad.active .form__rating-item {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-1 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-1.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffa6a6), to(#ffaca6));
  background: -o-linear-gradient(left, #ffa6a6, #ffaca6);
  background: linear-gradient(to right, #ffa6a6, #ffaca6);
}

.form__grad.active .form__rating-item.active.form__rating-item-2 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-2.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffaca6), to(#ffb9a6));
  background: -o-linear-gradient(left, #ffaca6, #ffb9a6);
  background: linear-gradient(to right, #ffaca6, #ffb9a6);
}

.form__grad.active .form__rating-item.active.form__rating-item-3 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-3.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffb9a6), to(#ffd0a6));
  background: -o-linear-gradient(left, #ffb9a6, #ffd0a6);
  background: linear-gradient(to right, #ffb9a6, #ffd0a6);
}

.form__grad.active .form__rating-item.active.form__rating-item-4 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-4.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffd0a6), to(#ffd5a6));
  background: -o-linear-gradient(left, #ffd0a6, #ffd5a6);
  background: linear-gradient(to right, #ffd0a6, #ffd5a6);
}

.form__grad.active .form__rating-item.active.form__rating-item-5 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-5.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffd5a6), to(#ffefa6));
  background: -o-linear-gradient(left, #ffd5a6, #ffefa6);
  background: linear-gradient(to right, #ffd5a6, #ffefa6);
}

.form__grad.active .form__rating-item.active.form__rating-item-6 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-6.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ffefa6), to(#fcffa6));
  background: -o-linear-gradient(left, #ffefa6, #fcffa6);
  background: linear-gradient(to right, #ffefa6, #fcffa6);
}

.form__grad.active .form__rating-item.active.form__rating-item-7 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-7.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#fcffa6), to(#ecffa6));
  background: -o-linear-gradient(left, #fcffa6, #ecffa6);
  background: linear-gradient(to right, #fcffa6, #ecffa6);
}

.form__grad.active .form__rating-item.active.form__rating-item-8 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-8.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#ecffa6), to(#daffa6));
  background: -o-linear-gradient(left, #ecffa6, #daffa6);
  background: linear-gradient(to right, #ecffa6, #daffa6);
}

.form__grad.active .form__rating-item.active.form__rating-item-9 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-9.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#daffa6), to(#c5ffa6));
  background: -o-linear-gradient(left, #daffa6, #c5ffa6);
  background: linear-gradient(to right, #daffa6, #c5ffa6);
}

.form__grad.active .form__rating-item.active.form__rating-item-10 {
  background: #b0b0b0;
}

.form__grad.active .form__rating-item.active.form__rating-item-10.active {
  opacity: 0.5;
  background: -webkit-gradient(linear, left top, right top, from(#c5ffa6), to(#b8ffa6));
  background: -o-linear-gradient(left, #c5ffa6, #b8ffa6);
  background: linear-gradient(to right, #c5ffa6, #b8ffa6);
}

.form__grad.active .form__rating-item.active.form__rating-item.current-active {
  opacity: 1;
  width: 3.125rem;
  height: 3.125rem;
}

.form__grad.active .form__rating-item.active.form__rating-item.mouse-active {
  opacity: 1;
}

.form__rating-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  color: #ffffff;
  font-weight: 800;
  font-size: 1.5625em;
  cursor: pointer;
  text-shadow: 1px 1px 1px #464646;
  overflow: hidden;
  opacity: 0.5;
}

.form__rating-item-1 {
  background: -webkit-gradient(linear, left top, right top, from(#ffa6a6), to(#ffaca6));
  background: -o-linear-gradient(left, #ffa6a6, #ffaca6);
  background: linear-gradient(to right, #ffa6a6, #ffaca6);
}

.form__rating-item-1.active {
  opacity: 0.5;
}

.form__rating-item-2 {
  background: -webkit-gradient(linear, left top, right top, from(#ffaca6), to(#ffb9a6));
  background: -o-linear-gradient(left, #ffaca6, #ffb9a6);
  background: linear-gradient(to right, #ffaca6, #ffb9a6);
}

.form__rating-item-2.active {
  opacity: 0.5;
}

.form__rating-item-3 {
  background: -webkit-gradient(linear, left top, right top, from(#ffb9a6), to(#ffd0a6));
  background: -o-linear-gradient(left, #ffb9a6, #ffd0a6);
  background: linear-gradient(to right, #ffb9a6, #ffd0a6);
}

.form__rating-item-3.active {
  opacity: 0.5;
}

.form__rating-item-4 {
  background: -webkit-gradient(linear, left top, right top, from(#ffd0a6), to(#ffd5a6));
  background: -o-linear-gradient(left, #ffd0a6, #ffd5a6);
  background: linear-gradient(to right, #ffd0a6, #ffd5a6);
}

.form__rating-item-4.active {
  opacity: 0.5;
}

.form__rating-item-5 {
  background: -webkit-gradient(linear, left top, right top, from(#ffd5a6), to(#ffefa6));
  background: -o-linear-gradient(left, #ffd5a6, #ffefa6);
  background: linear-gradient(to right, #ffd5a6, #ffefa6);
}

.form__rating-item-5.active {
  opacity: 0.5;
}

.form__rating-item-6 {
  background: -webkit-gradient(linear, left top, right top, from(#ffefa6), to(#fcffa6));
  background: -o-linear-gradient(left, #ffefa6, #fcffa6);
  background: linear-gradient(to right, #ffefa6, #fcffa6);
}

.form__rating-item-6.active {
  opacity: 0.5;
}

.form__rating-item-7 {
  background: -webkit-gradient(linear, left top, right top, from(#fcffa6), to(#ecffa6));
  background: -o-linear-gradient(left, #fcffa6, #ecffa6);
  background: linear-gradient(to right, #fcffa6, #ecffa6);
}

.form__rating-item-7.active {
  opacity: 0.5;
}

.form__rating-item-8 {
  background: -webkit-gradient(linear, left top, right top, from(#ecffa6), to(#daffa6));
  background: -o-linear-gradient(left, #ecffa6, #daffa6);
  background: linear-gradient(to right, #ecffa6, #daffa6);
}

.form__rating-item-8.active {
  opacity: 0.5;
}

.form__rating-item-9 {
  background: -webkit-gradient(linear, left top, right top, from(#daffa6), to(#c5ffa6));
  background: -o-linear-gradient(left, #daffa6, #c5ffa6);
  background: linear-gradient(to right, #daffa6, #c5ffa6);
}

.form__rating-item-9.active {
  opacity: 0.5;
}

.form__rating-item-10 {
  background: -webkit-gradient(linear, left top, right top, from(#c5ffa6), to(#b8ffa6));
  background: -o-linear-gradient(left, #c5ffa6, #b8ffa6);
  background: linear-gradient(to right, #c5ffa6, #b8ffa6);
}

.form__rating-item-10.active {
  opacity: 0.5;
}

.form__rating-item.current-active {
  opacity: 1;
  width: 3.125rem;
  height: 3.125rem;
}

.form__rating-item.mouse-active {
  opacity: 1;
}

.form__how {
  margin-top: 1.5625em;
}

.form__message {
  position: relative;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  margin-top: 2.8125em;
}

.form__message.hidden {
  position: absolute;
  margin-top: 0;
  opacity: 0;
  visibility: hidden;
}

.form__textarea {
  margin-top: 1.375em;
  padding: 0.625em 1.25em;
  width: 100%;
  min-height: 4.375em;
  border-radius: 0.3125em;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(34, 34, 34, 0.447);
  resize: none;
  font-weight: 800;
  color: rgb(83, 83, 83);
  line-height: 1.2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__textarea::-webkit-input-placeholder {
  font-weight: 300;
}

.form__textarea::-moz-placeholder {
  font-weight: 300;
}

.form__textarea:-ms-input-placeholder {
  font-weight: 300;
}

.form__textarea::-ms-input-placeholder {
  font-weight: 300;
}

.form__textarea::placeholder {
  font-weight: 300;
}

.form__textarea:focus {
  border: 1px solid rgba(40, 40, 40, 0.084);
  outline: 2px solid rgba(34, 34, 34, 0.447);
}

.form__button {
  display: inline-block;
  margin-top: 1.125em;
  padding: 0.625em 1.625em;
  border: 3px solid rgb(135, 185, 105);
  font-size: 1.5625em;
  color: rgb(135, 185, 105);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
  border-radius: 0.3125em;
  background: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.form__button:hover {
  color: #ffffff;
  background: rgb(135, 185, 105);
}

.form__error {
  color: red;
  font-weight: 300;
  margin-top: 1em;
}

.main__thanks {
  margin-top: 2.5em;
}

.thanks {
  display: none;
}

.thanks__content {
  margin: 0 17.5em;
  padding: 3.125em 4.375em;
  border: rgb(135, 185, 105) 2px solid;
  border-radius: 0.4375em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.thanks__title {
  font-size: 1.5625em;
  color: rgb(135, 185, 105);
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

.thanks__button {
  margin-top: 1.375em;
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
  background-color: rgb(135, 185, 105);
  padding: 0.9375em 4.375em;
  color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  overflow: hidden;
  white-space: nowrap;
}

@supports (font-size: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem )) {
  .thanks__button {
    font-size: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.625rem , 0.55rem  +  0.375vw , 1rem )) {
  .thanks__button {
    font-size: calc(
			0.625rem + 0.375 * (100vw - 20rem) / 100
		);
  }
}

.thanks__button:hover {
  background-color: #ffffff;
  outline: rgb(135, 185, 105) 1.5px solid;
  color: rgb(135, 185, 105);
}

@media (max-width: 1035px) {
  .thanks__content {
    margin: 0 9.375em;
  }
}

@media (max-width: 757px) {
  .thanks__content {
    margin: 0 5em;
  }
}

@media (max-width: 615px) {
  .thanks__content {
    margin: 0;
  }
}

@media (max-width: 30em) {
  .form__row {
    font-size: 0.75rem;
    gap: 3.75em;
  }
}

@media (max-width: 460px) {
  .thanks__content {
    padding: 2.5em;
  }
}

@media (max-width: 392px) {
  .thanks__content {
    font-size: 0.8125em;
  }
}

@media (max-width: 64.375em) {
  [class*=__container] {
    max-width: 60.625rem;
  }
}

@media (max-width: 61.99875em) {
  [class*=__container] {
    max-width: 46.875rem;
  }

  .header__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    z-index: 100;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    max-width: none;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }
}

@media (max-width: 40.3125em) {
  .footer__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__list li {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .footer__logo {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

@media (max-width: 34.375em) {
  .form {
    font-size: 0.875em;
  }
}

@media (max-width: 27.5em) {
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 23.75em) {
  .form__row {
    gap: 0em;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (any-hover: hover) {
  .select__option:hover {
    background: rgba(255, 187, 0, 0.5411764706);
  }
}

.webp .form__label-bad::before{ background-image: url(../img/bad.webp); }

.webp .form__label-normal::before{ background-image: url(../img/good.webp); }

.webp .form__label-great::before{ background-image: url(../img/great.webp); }